.InfoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.MuiCard-root {
    border-radius: 20px !important; /* Override MUI's default styling */
    overflow: hidden; /* Ensure that child elements respect the border radius */
}

.MuiCardMedia-root {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
